@{
    ViewData["Title"] = "Strona Główna";
}

<div class="section both-sections" >
    <div class="contact-left-side-section">
        <img src="~/images/Office.png">
    </div>
    <div class="index-right-side-section">
        <div class="text-section">
            <p>W razie problemów z aplikacją uprasza się o kontakt z promotorem pracy magisterskiej, podczas której powstała niniejsza aplikacja, lub bezpośrednio z jej deweloperem.</p>
            <div id="supervisor">
                <p>
                    <a href="https://skos.agh.edu.pl/osoba/marian-banas-4749.html">dr hab. inż. Marian Banaś</a><br><br>
                    Adres e-mail: <a href="mailto:mbanas@agh.edu.pl">mbanas@agh.edu.pl</a><br>
                    Tel. kontaktowy: 123 456 789
                </p>
            </div>
            <div id="developer">
                <p>
                    <b>inż. Tomasz Borek</b><br><br>
                    Adres e-mail: <a href="mailto:tomasz.borek@gmail.com">tomasz.borek@gmail.com</a><br>
                    Tel. kontaktowy: 987 654 321
                </p>
            </div>
            
        </div>
    </div>
</div>