@{
    ViewData["Title"] = "Strona Główna";
}

<div class="section both-sections" >
    <div class="index-left-side-section">
        <img src="~/images/robot.png">
    </div>
    <div class="index-right-side-section">
        <div class="text-section">
            <p>Strona została zbudowana w ramach magisterskiej pracy dyplomowej przez <a href="mailto:tborek.95@gmail.com">Tomasza Borek</a> - studenta Automatyki i Robotyki na Wydziale Inżynierii Mechanicznej i Robotyki w Akademii Górniczo-Hutniczej im. Stanisława Staszica w Krakowie.</p>
            <p>Praca powstawała pod patronatem pana <a href="https://skos.agh.edu.pl/osoba/marian-banas-4749.html">dr hab. inż. Mariana Banasia</a>.</p>
            <p>Celem ninejszej aplikacji internetowej jest ułatwienie dostępu pracownikom dydaktyczno-naukowym wydziału do uchwał wprowadzonych przez Radę Wydziału.</p>
            <p>W razie napotkania problemów z aplikacją proszę o kontakt pod adresem e-mail dostępnym w zakładce "Kontakt".</p>
        </div>
    </div>
</div>